    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    
    #a {
        text-decoration: none;
        color: #ffffff;
    }
    
    @font-face {
        font-family: OpenSans-regular;
        src: url("../fonts/OpenSans-Regular.woff")
    }
    
    @font-face {
        font-family: OpenSans-bold;
        src: url("../fonts/OpenSans-Bold.woff")
    }
    
    .popup {
        width: 100%;
        height: 100vh;
        box-sizing: border-box;
        padding-top: 50px;
        padding-bottom: 50px;
        background-color: rgba(0, 0, 0, 0.75);
        overflow-y: auto;
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        z-index: 2;
        display: none;
    }
    
    .popup_close_picture {
        width: 15px;
    }
    
    .popup_close {
        background: transparent;
        border: none;
        width: 31px;
        height: 28px;
        position: absolute;
        top: -30px;
        right: -7px;
    }
    
    .popup_container {
        height: 590px;
        width: 390px;
        margin: auto;
        background-color: #ffffff;
        position: relative;
    }
    
    .popup_header_title {
        color: black;
        font-family: OpenSans-bold;
        text-transform: uppercase;
        text-decoration: none;
        font-weight: bold;
        font-size: 20px;
        padding-top: 5px;
        text-align: center;
    }
    
    .popup_header {
        margin-top: 43px;
    }
    
    .popup_header::after {
        content: "";
        display: block;
        margin: 7px auto 24px 160px;
        background: #b59f5b;
        width: 65px;
        height: 3px;
    }
    
    .field_text {
        color: black;
        font-family: OpenSans-regular;
        display: block;
        margin-bottom: 7px;
        font-size: 13px;
    }
    
    .popup_visit {
        margin-left: 31px;
        margin-right: 10px;
    }
    
    .popup_visit_group_field {
        display: block;
    }
    
    .popup_select {
        background-image: url(../svg/form-arrows.svg);
        background-size: 10px;
        background-repeat: no-repeat;
        background-position: right 14px top 18px;
        display: inline-block;
        width: 95%;
        height: 49px;
        padding-left: 10px;
        padding-right: 25px;
        border: none;
        background-color: #f9f9f9;
        font-size: 14px;
        font-family: OpenSans-regular;
        color: rgb(171 182 191);
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }
    
    .checkbox_popup_subscription_text {
        margin-top: 32px;
        color: black;
        font-family: OpenSans-regular;
        display: block;
        margin-bottom: 6px;
        font-size: 13px;
    }
    
    .radio-button {
        display: flex;
    }
    
    .radio-group-text {
        font-family: OpenSans-regular;
        font-size: 13px;
        margin-left: -5px;
        margin-right: 20px;
    }
    
    .radio-group-text:before {
        background-image: url(../svg/form-empty-circle.svg);
        width: 20px;
        height: 20px;
        margin-left: 3px;
        margin-top: 3px;
    }
    
    .radio:checked+.radio-group-text:before {
        background-image: url(../svg/form-circle.svg);
        width: 20px;
        height: 20px;
        padding-left: 10px;
    }
    
    .button_sub {
        display: flex;
    }
    
    .radio {
        position: absolute;
        clip: rect(1px, 1px, 1px, 1px);
        height: 1px;
        width: 1px;
    }
    
    .radio-group-text::before {
        content: "";
        display: inline-block;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 20px;
        vertical-align: middle;
        padding-left: 10px;
    }
    
    .radio-group {
        display: inline-block;
        font-size: 15px;
    }
    
    .radio-group:nth-of-type(n+2) {
        margin-left: 15px;
    }
    
    .button_yes {
        width: 17px;
        height: 17px;
        margin-left: 3px;
        margin-top: 3px;
    }
    
    .button_no {
        width: 17px;
        height: 17px;
        margin-left: 15px;
        margin-top: 3px;
    }
    
    .popup_survey {
        margin-top: 27px;
        display: flex;
        flex-direction: column;
    }
    
    .question {
        font-family: OpenSans-regular;
        font-size: 13px;
    }
    
    .field_textarea {
        margin-top: 7px;
        padding-top: 18px;
        padding-left: 20px;
        width: 325px;
        height: 134px;
        border: none;
        font-family: OpenSans-regular;
        font-size: 13px;
        background-color: #f9f9f9;
        color: rgb(171 182 191);
    }
    
    .popup_button {
        background-color: #b59f5b;
        border: none;
        margin-top: 24px;
        width: 330px;
        height: 48px;
    }
    
    .popup_button_text {
        font-size: 14px;
        color: #ffffff;
        font-weight: 700;
        font-family: OpenSans-bold, sans-serif;
        text-transform: uppercase;
    }
    
    .trends-header-title::after {
        content: "";
        display: block;
        margin: auto;
        background: #b59f5b;
        width: 65px;
        height: 3px;
        margin-top: 8px;
    }
    
    .header {
        background-image: url("../images/banner-bg.jpg");
        background-repeat: no-repeat;
        background-position: top;
        background-color: #000000;
        background-size: cover;
        position: relative;
        z-index: 1;
        min-height: 451px;
    }
    
    .header::after {
        content: "";
        background-color: #000000;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0.7;
        z-index: -1;
    }
    
    .container {
        padding-top: 30px;
        padding-right: 15px;
        padding-left: 15px;
        margin: auto;
        margin-right: 13.85%;
        margin-left: 13.85%;
        min-width: calc(1200px - 27.7%);
        box-sizing: border-box;
    }
    
    .header-title {
        font-size: 45px;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
        font-family: OpenSans-bold, sans-serif;
        color: #ffffff;
        line-height: 1.7;
        max-width: 690px;
        margin: auto;
        padding-top: 100px;
    }
    
    .logo {
        width: 180px;
        position: relative;
    }
    
    .menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .menu-list {
        display: flex;
        list-style-type: none;
    }
    
    .menu-list-item {
        font-family: OpenSans-regular, sans-serif;
        text-transform: uppercase;
        font-size: 13px;
        font-weight: 400;
        padding-right: 35px;
        font-size: 13px;
    }
    
    .menu-list-item:last-child {
        padding-right: 0;
    }
    
    .menu-trend-list-item {
        font-family: OpenSans-regular, sans-serif;
        text-transform: uppercase;
        font-size: 13px;
        font-weight: 400;
        padding-right: 15px;
        font-size: 13px;
    }
    
    .page {
        max-width: 1200px;
        padding-left: 15px;
        padding-right: 15px;
        margin-top: 60px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .post-aside {
        display: flex;
        margin: auto;
        justify-content: space-between;
    }
    
    .posts {
        width: 792px;
    }
    
    .last-post {
        font-family: OpenSans-regular, sans-serif;
        padding: 0;
        display: flex;
        margin-bottom: 58px;
        width: calc(100% - 30px);
    }
    
    .last-post-link {
        text-decoration: none;
        color: #000000;
        text-transform: uppercase;
    }
    
    .post-preview {
        box-sizing: border-box;
    }
    
    .categories-list-item {
        font-family: OpenSans-regular, sans-serif;
        display: block;
        font-size: 14px;
        font-weight: 700;
        margin-right: 27px;
    }
    
    .categories-list-item-style {
        text-decoration: none;
        color: #b59f5b;
        text-transform: uppercase;
    }
    
    .last-post-title {
        font-family: OpenSans-bold, sans-serif;
        font-size: 20px;
        line-height: 24px;
        color: #0f0d0e;
        font-weight: 700;
        margin-bottom: 24px;
        min-width: 327px;
    }
    
    .date-author {
        display: inline-flex;
        margin-bottom: 43px;
    }
    
    .post-date {
        font-family: OpenSans-regular;
        font-size: 12px;
        color: #888888;
        font-weight: 400;
    }
    
    .author {
        font-size: 12px;
        color: #000000;
        font-weight: 700;
        margin-left: 17px;
    }
    
    .text {
        font-family: OpenSans-regular;
        font-size: 15px;
        line-height: 22px;
        color: #0f0d0e;
        font-weight: 400;
        text-align: justify;
        width: inherit;
    }
    
    .last-post-content {
        width: calc(114% - 170px);
        padding-left: 30px;
    }
    
    .categories {
        margin-bottom: 8px;
    }
    
    .categories-list {
        display: flex;
        padding: 0;
    }
    
    .aside-new-posts {
        width: 270px;
    }
    
    .aside-header {
        font-family: OpenSans-bold, sans-serif;
        text-transform: uppercase;
        font-size: 14px;
        color: #0f0d0e;
        font-weight: 700;
        text-align: center;
        margin-top: 0px;
    }
    
    .aside-header::after {
        content: "";
        display: block;
        margin: 11px 100px 29px 105px;
        background: #b59f5b;
        width: 65px;
        height: 3px;
    }
    
    .new-post {
        display: flex;
        margin-bottom: 17px;
    }
    
    .new-post-title {
        font-family: OpenSans-bold, sans-serif;
        font-size: 14px;
        line-height: 18px;
        color: #000000;
        font-weight: 700;
    }
    
    .new-post-preview {
        margin-right: 20px;
    }
    
    .fit-picture-new-post {
        width: 70px;
    }
    
    .search {
        margin-top: 59px;
        margin-bottom: 63px;
        display: flex;
        height: 48px;
        font-size: 13px;
        line-height: 40px;
        color: #000000;
        font-weight: 400;
        font-family: OpenSans-regular, sans-serif;
    }
    
    .field {
        background-color: #f4f7f6;
        border: none;
        width: calc(100% - 59px);
        padding-left: 19px;
        height: 48px;
        margin-bottom: 18px;
    }
    
    .field-text {
        position: absolute;
        width: 1px;
        height: 1px;
        clip: rect(1px, 1px, 1px, 1px);
    }
    
    .button {
        background-color: #b59f5b;
        border: none;
        width: 59px;
        height: 48px;
        background-size: 18px;
        background-repeat: no-repeat;
        background-position: center center;
    }
    
    .search-button {
        width: 20px;
    }
    
    .button-text {
        position: absolute;
        width: 1px;
        height: 1px;
        clip: rect(1px, 1px, 1px, 1px);
    }
    
    .subscription {
        margin-top: -6px;
        font-size: 13px;
        color: #000000;
        font-weight: 400;
        font-family: OpenSans-regular, sans-serif;
    }
    
    .button-subscription {
        background-color: #b59f5b;
        border: none;
        width: 100%;
        height: 48px;
        font-size: 14px;
        color: #ffffff;
        font-weight: 700;
        font-family: OpenSans-bold, sans-serif;
        text-transform: uppercase;
        margin-top: -5px;
        margin-bottom: 55px;
    }
    
    .tegs-list {
        display: flex;
        flex-wrap: wrap;
        margin-top: -6px;
        margin-bottom: 46px;
        padding: 0px;
    }
    
    .tegs-list-item {
        font-family: OpenSans-regular, sans-serif;
        display: flex;
        font-size: 12px;
        color: #0f0d0e;
        font-weight: 700;
        border: 3px solid #dfdee8;
        padding: 4px 14px;
        margin-right: 5px;
        margin-bottom: 8px;
    }
    
    .teg-list-item-style {
        text-decoration: none;
        color: #000000;
        text-transform: uppercase;
    }
    
    .themes-list-item {
        font-family: OpenSans-bold, sans-serif;
        font-size: 14px;
        color: #000000;
        display: block;
        margin-bottom: 11px;
        padding: 0 5px 0 0;
    }
    
    .themes-list-item-style {
        text-decoration: none;
        color: #000000;
    }
    
    .themes-list-item::after {
        content: "";
        display: block;
        position: relative;
        margin-top: 14px;
        width: 100%;
        height: 1px;
        background: #eeeeee;
    }
    
    .themes-list-count {
        font-size: 12px;
        color: #b59f5b;
        font-family: OpenSans-bold, sans-serif;
        vertical-align: top;
    }
    
    .footer {
        margin-top: 60px;
    }
    
    .footer-container {
        height: 82px;
        background: #f4f7f6;
        margin-bottom: 70px;
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .social-link-picture {
        width: 20px;
        height: 20px;
    }
    
    .socials-link {
        width: 20px;
        height: 20px;
        display: flex;
        padding: 40px 25px;
    }
    
    .social-item {
        display: inline;
    }
    
    .socials {
        display: flex;
        justify-content: center;
        position: relative;
        box-sizing: border-box;
    }
    
    .social-link-text {
        position: absolute;
        width: 1px;
        height: 1px;
        clip: rect(1px, 1px, 1px, 1px);
    }
    
    .copyright {
        text-decoration: none;
        color: #999999;
        font-family: OpenSans-bold, sans-serif;
        font-size: 12px;
        text-align: center
    }
    
    .trends {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    
    .trend {
        position: relative;
        width: 25%;
        display: flex;
        margin-right: 4px;
        z-index: 0;
    }
    
    .trend::after {
        content: "";
        background-color: #000000;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0.7;
        z-index: -1;
    }
    
    .trend-one {
        background-image: url("../images/trend1.jpg");
        background-repeat: no-repeat;
        background-color: #000000;
        background-size: cover;
    }
    
    .trend-two {
        background-image: url("../images/trend2.jpg");
        background-repeat: no-repeat;
        background-color: #000000;
        background-size: cover;
    }
    
    .trend-three {
        background-image: url("../images/trend3.jpg");
        background-repeat: no-repeat;
        background-color: #000000;
        background-size: cover;
    }
    
    .trend-four {
        background-image: url("../images/trend4.jpg");
        background-repeat: no-repeat;
        background-color: #000000;
        background-size: cover;
    }
    
    .container-trend {
        padding-bottom: 5px;
        position: relative;
        display: flex;
        width: 100%;
        min-height: 320px;
        align-items: flex-end;
        box-sizing: border-box;
    }
    
    .menu-header {
        border: 2px solid #b59f5b;
        padding-top: 40px;
        padding-left: 34px;
        padding-bottom: 30px;
        width: 90%;
        margin: 0px auto 10px auto;
    }
    
    .menu-trend-list {
        display: flex;
        list-style-type: none;
    }
    
    .style-menu-trends {
        color: #b59f5b;
        font-family: OpenSans-regular;
        text-transform: uppercase;
        text-decoration: none;
        font-weight: bold;
        font-size: 15px;
    }
    
    .trend-title {
        color: white;
        font-family: OpenSans-regular;
        text-transform: uppercase;
        text-decoration: none;
        font-weight: bold;
        font-size: 20px;
    }
    
    .trends-header {
        margin-bottom: 29px;
    }
    
    .trends-header-title {
        width: 100%;
        text-transform: uppercase;
        font-size: 20px;
        font-family: OpenSans-bold;
        text-align: center;
        padding-top: 58px;
    }
    
    .trends-header-title::after {
        content: "";
        display: block;
        margin: auto;
        background: #b59f5b;
        width: 65px;
        height: 3px;
        margin-top: 8px;
    }
    
    .shops {
        display: flex;
        justify-content: space-between;
    }
    
    .shop {
        width: 33%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 16px;
        margin-right: -24px;
    }
    
    .shop-one {
        margin-left: -16px;
    }
    
    .products {
        max-width: 1200px;
        margin-left: auto;
        margin-left: auto;
    }
    
    .shops-header {
        margin-bottom: 29px;
    }
    
    .shop-title {
        width: 100%;
        padding-top: 44px;
        text-transform: uppercase;
        font-size: 20px;
        font-family: OpenSans-bold;
    }
    
    .shop-header-title {
        width: 100%;
        text-align: center;
        font-family: OpenSans-bold;
        text-transform: uppercase;
        font-size: 20px;
    }
    
    .shop-header-title::after {
        content: "";
        display: block;
        margin: auto;
        background: #b59f5b;
        width: 65px;
        height: 3px;
        margin-top: 8px;
    }
    
    .container-shop {
        border: 3px solid #b59f5b;
        padding-left: 21px;
        margin-top: -30px;
        min-width: 340px;
        height: 100%;
        width: calc(100% - 39px);
        padding-bottom: 25px;
    }
    
    .shop-one-picture {
        display: flex;
    }
    
    .shop__footer {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        width: 100%;
    }
    
    .shop-decription {
        max-width: 100%;
        font-size: 15px;
        padding-top: 6px;
        font-family: OpenSans-regular;
    }
    
    .shop__prices {
        padding-top: 26px;
    }
    
    .shop__price {
        display: flex;
        flex-direction: column;
    }
    
    .shop__price-value {
        font-size: 20px;
        font-family: OpenSans-bold;
    }
    
    .shop__price-value-old {
        font-size: 14px;
        font-family: OpenSans-bold;
        text-decoration: line-through;
    }
    
    .link-for-video {
        color: #b59f5b;
        text-decoration: none;
    }
    
    .shop__button {
        background-color: #b59f5b;
        border: none;
        width: 40%;
        height: 48px;
        font-size: 14px;
        color: #ffffff;
        font-weight: 700;
        font-family: OpenSans-bold, sans-serif;
        text-transform: uppercase;
        margin-top: 29px;
        margin-right: 23px;
    }
    
    @media (min-width: 641px) and (max-width: 1199px) {
        .header {
            background-image: url("../images/banner-bg-tablet.jpg");
            min-height: 394px;
        }
        .container {
            padding-top: 45px;
            margin-left: 2.5%;
            min-width: calc(641px - 5%);
        }
        .header-title {
            font-size: 40px;
            line-height: 1.4;
            padding-top: 84px;
        }
        .logo {
            width: 154px;
            position: relative;
        }
        .menu {
            width: 91vw;
        }
        .menu-list {
            display: none;
        }
        .menu-trend-list-item {
            padding-right: 29px;
        }
        .menu-burger__header {
            margin-left: 10px;
            position: relative;
            width: 24px;
            height: 35px;
            display: block;
        }
        .menu-burger__header span,
        .menu-burger__header:after,
        .menu-burger__header:before {
            width: 100%;
            position: absolute;
            background: white;
            margin: 0 auto;
            top: 14.5px;
            height: 3px;
        }
        .menu-burger__header span {
            top: 21px;
        }
        .menu-burger__header:after,
        .menu-burger__header:before {
            content: '';
        }
        .menu-burger__header:after {
            bottom: 5px;
        }
        .menu-burger__header:before {
            top: 7px;
        }
        .page {
            margin-top: 6%;
            margin-left: 3%;
        }
        .post-aside {
            min-width: calc(641px - 9%);
        }
        .posts {
            width: 792px;
        }
        .post {
            width: 56% margin-right: 35px;
        }
        .last-post {
            display: flex;
            flex-direction: column;
        }
        .last-post-content {
            width: 100%;
            padding-left: 0px;
        }
        .last-post:nth-child(-1n+4)::after {
            content: "";
            display: block;
            margin: 19px 114px -16px auto;
            background: #eeece7;
            width: 100%;
            height: 3px;
        }
        .fit-picture {
            width: 103%;
        }
        .categories-list-item {
            display: block;
            font-size: 14px;
        }
        .last-post-title {
            font-size: 17px;
            line-height: 19px;
        }
        .date-author {
            margin-bottom: 30px;
        }
        .categories {
            margin-bottom: 7px;
            margin-top: 12px;
        }
        .aside-new-posts {
            width: 270px;
            margin-left: 35px;
        }
        .aside-header {
            width: 87%;
        }
        .aside-header::after {
            margin: 10px 125px 25px 84px;
        }
        .new-post-preview {
            margin-right: 19px;
            margin-left: -18px;
        }
        .search {
            width: 270px;
            margin-top: 21%;
            margin-right: 7%;
            margin-left: -7%;
            margin-bottom: 58px;
        }
        .button {
            width: 59px;
        }
        .search-button {
            width: 20px;
        }
        .subscription {
            margin-right: 7%;
            margin-left: -7%;
        }
        .button-subscription {
            margin-top: 0px;
            margin-bottom: 55px;
        }
        .tegs-list {
            margin-right: 7%;
            margin-left: -7%;
            margin-top: 0px;
        }
        .themes-list {
            margin-right: 7%;
            margin-left: -7%;
        }
        .footer {
            margin-top: 0px;
        }
        .footer-container {
            margin-left: 6%;
            width: 90%;
            margin-bottom: 46px;
        }
        .social-link-picture {
            width: 24px;
            height: 24px;
        }
        .socials-link {
            padding: 30px 24px;
        }
        .trends {
            flex-wrap: wrap;
            min-width: calc(641px - 9%);
        }
        .trend {
            width: calc(50% - 4px);
            margin-right: 4px;
            height: 248px;
            margin-bottom: 3px;
            position: relative;
            z-index: 0;
        }
        .trend::after {
            content: "";
            background-color: #000000;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            opacity: 0.7;
            z-index: -1;
        }
        .trend-one {
            background-image: url("../images/trend1.jpg");
            background-position: bottom;
        }
        .trend-two {
            background-image: url("../images/trend2.jpg");
            background-position: bottom;
        }
        .trend-three {
            background-image: url("../images/trend3.jpg");
            background-position: bottom;
        }
        .trend-four {
            background-image: url("../images/trend4.jpg");
            background-position: bottom;
        }
        .container-trend {
            min-height: 247px;
        }
        .menu-header {
            padding-top: 40px;
            padding-left: 0px;
            padding-bottom: 30px;
        }
        .menu-trends {
            padding-left: 32px;
        }
        .style-menu-trends {
            font-size: 13px;
        }
        .menu-header-trend-two {
            min-height: 157px;
            margin: 76px 16px 7px 20px;
        }
        .trend-title {
            padding-left: 33px;
            font-size: 17px;
        }
        .trends-header {
            margin-bottom: 20px;
        }
        .trends-header-title {
            width: 100%;
            text-transform: uppercase;
            font-size: 18px;
            font-family: OpenSans-bold;
            text-align: center;
            padding-top: 44px;
        }
        .trends-header-title::after {
            content: "";
            display: block;
            margin: auto;
            background: #b59f5b;
            width: 65px;
            height: 3px;
            margin-top: 8px;
        }
        .shops {
            display: flex;
            flex-wrap: wrap;
        }
        .shop {
            width: 42%;
            margin-bottom: 34px;
            margin-right: 0px;
            margin-left: 0px;
        }
        .products {
            min-width: calc(641px - 9%);
        }
        .shop-title {
            font-size: 17px;
        }
        .shop-header-title {
            font-size: 18px;
            margin-left: -1%;
            margin-top: 1%;
        }
        .container-shop {
            margin-top: -37px;
        }
        .shop__prices {
            padding-bottom: 1px;
        }
        .shop__price-value-old {
            font-size: 14px;
            font-family: OpenSans-bold;
            text-decoration: line-through;
        }
        .shop__button {
            width: 41%;
            margin-right: 24px;
        }
    }
    
    @media (min-width: 641px) and (max-width: 1199px) and (orientation: landscape) {
        .trend {
            width: calc(25% - 4px);
            margin-right: 4px;
            height: 248px;
            margin-bottom: 3px;
            position: relative;
            z-index: 0;
        }
    }
    
    @media (max-width: 640px) {
        .popup {
            width: 100%;
            height: 100%;
            display: flex;
            display: none;
        }
        .popup_close_picture {
            width: 27px;
        }
        .popup_close {
            width: 41px;
            top: -35px;
        }
        .popup_container {
            width: 85%;
        }
        .popup_header_title {
            font-size: 16px;
        }
        .popup_header {
            margin-top: 19px;
        }
        .popup_header::after {
            margin: 9px auto 25px auto;
        }
        .popup_visit {
            margin-left: 22px;
        }
        .popup_select {
            display: inline-block;
            width: 95%;
            padding-left: 14px;
        }
        .checkbox_popup_subscription_text {
            margin-top: 29px;
        }
        .radio-group-text {
            margin-right: 30px;
        }
        .button_sub {
            display: flex;
        }
        .radio-group-text:before {
            width: 36px;
            height: 23px;
            background-size: 23px;
            margin-left: 3px;
            margin-top: 3px;
        }
        .radio:checked+.radio-group-text:before {
            width: 36px;
            height: 23px;
            background-size: 23px;
        }
        .radio-group {
            display: inline-block;
            font-size: 15px;
        }
        .radio-group:nth-of-type(n+2) {
            margin-left: 15px;
        }
        .button_yes {
            width: 24px;
            height: 24px;
            margin-left: -6px;
            margin-top: 3px;
        }
        .button_no {
            width: 24px;
            height: 24px;
            margin-left: 34px;
            margin-top: 3px;
        }
        .popup_survey {
            margin-top: 30px;
        }
        .field_textarea {
            padding-top: 16px;
            padding-left: 24px;
            width: 95%;
            height: 130px;
        }
        .popup_button {
            margin-top: 27px;
            width: 95%;
        }
        .header {
            background-image: url("../images/banner-mobile.jpg");
        }
        .container {
            height: 640px;
            padding-top: 191px;
            margin: auto;
            min-width: 100%;
        }
        .header-title {
            font-size: 1.65rem;
            line-height: 1.4;
            width: 100%;
            padding-top: 35px;
            text-align: center;
        }
        .logo {
            width: 90%;
        }
        .logo-link {
            display: flex;
            justify-content: center;
        }
        .menu {
            display: flex;
            flex-direction: column-reverse;
        }
        .menu-list {
            display: flex;
            list-style-type: none;
            display: none;
        }
        .menu-list-item {
            font-family: OpenSans-regular, sans-serif;
            text-transform: uppercase;
            font-size: 13px;
            font-weight: 400;
            padding-right: 35px;
            font-size: 13px;
        }
        .menu-list-item:last-child {
            padding-right: 0;
        }
        .menu-trend-list-item {
            padding-right: 13px;
        }
        .menu__button {
            width: 1.4em;
            height: 1em;
            border: none;
            padding: 0;
            background-color: transparent;
            font-size: 25px;
            position: relative;
            text-indent: -9999px;
            cursor: pointer;
        }
        .menu-burger__header {
            height: 35px;
            top: -193px;
        }
        .menu-burger__header span,
        .menu-burger__header:after,
        .menu-burger__header:before {
            width: 100%;
            position: absolute;
            background: white;
            margin: 0 auto;
            top: 13px;
            height: 3px;
        }
        .menu-burger__header span {
            top: 41px;
            width: 23px;
            left: 89%;
        }
        .menu-burger__header:after,
        .menu-burger__header:before {
            content: '';
        }
        .menu-burger__header:after {
            top: 49px;
            width: 23px;
            left: 89%;
        }
        .menu-burger__header:before {
            top: 33px;
            width: 23px;
            left: 89%;
        }
        .page {
            margin-top: 44px;
        }
        .post-aside {
            display: flex;
            flex-flow: wrap;
        }
        .posts {
            width: 792px;
        }
        .last-post {
            display: flex;
            flex-flow: wrap;
            width: 100%;
        }
        .last-post-content {
            padding-left: 0px;
            width: 100%;
        }
        .last-post::after {
            content: "";
            display: block;
            margin: 20px 0px -23px 0px;
            background: #eeece7;
            width: 100%;
            height: 3px;
        }
        .fit-picture {
            width: 100%;
        }
        .post-preview {
            box-sizing: border-box;
            width: 100%;
        }
        .categories-list-item {
            margin-right: 21px;
        }
        .last-post-title {
            font-size: 16px;
            line-height: 18px;
            margin-bottom: 12px;
            width: 335px;
        }
        .date-author {
            display: inline-flex;
            margin-bottom: 13px;
            /*width: 122%;*/
        }
        .post-date {
            /* width: 63%;*/
        }
        .author {
            /* width: 95%;*/
        }
        .text {
            font-family: OpenSans-regular;
            font-size: 14px;
            width: 23em;
            line-height: 21px;
            color: #0f0d0e;
            width: 100%;
        }
        .categories {
            margin-bottom: 12px;
            margin-top: 7px;
        }
        .aside-new-posts {
            width: 100%;
        }
        .aside-header {
            font-size: 16px;
            margin-top: 2px;
        }
        .aside-header::after {
            margin: 7px auto 26px auto;
            width: 20%;
        }
        .new-post {
            margin-bottom: 23px;
        }
        .search {
            margin-top: 46px;
            margin-bottom: 49px;
            height: 38px;
        }
        .field {
            padding-left: 17px;
            margin-bottom: 24px;
        }
        .button {
            width: 59px;
        }
        .search-button {
            width: 20px;
        }
        .button-text {
            position: absolute;
            width: 1px;
            height: 1px;
            clip: rect(1px, 1px, 1px, 1px);
        }
        .subscription {
            margin-top: 10px;
        }
        .button-subscription {
            margin-bottom: 38px;
        }
        .tegs-list {
            margin-bottom: 32px;
        }
        .themes-list-item {
            margin-bottom: 12px;
        }
        .themes-list-item-style {
            text-decoration: none;
            color: #000000;
        }
        .footer {
            margin-top: 17px;
        }
        .footer-container {
            width: 93%;
            margin-bottom: 51px;
        }
        .social-link-picture {
            width: 20px;
            height: 20px;
        }
        .socials-link {
            padding: 28px 36px 0 12px;
        }
        .trends {
            display: flex;
            flex-wrap: wrap;
        }
        .trend {
            width: 100%;
            height: 230px;
            margin-bottom: 3px;
        }
        .trend-one {
            background-position: bottom;
        }
        .trend-two {
            background-position: bottom;
        }
        .trend-three {
            background-position: bottom;
        }
        .trend-four {
            background-position: bottom;
        }
        .container-trend {
            min-height: 100%;
            padding-bottom: 15px;
        }
        .menu-header {
            border: 3px solid #b59f5b;
            margin: 87px auto 0px auto;
            padding-left: 5px;
            padding-bottom: 27px;
        }
        .menu-trends {
            padding-top: 31px;
            padding-left: 16px;
        }
        .trend-title {
            padding-left: 15px;
            font-size: 16px;
        }
        .trends-header {
            margin-bottom: 23px;
        }
        .trends-header-title {
            font-size: 1em;
            padding-top: 40px;
        }
        .shops {
            display: flex;
            flex-wrap: wrap;
        }
        .shop {
            width: 100%;
            margin-left: 0px;
        }
        .products {
            padding-top: 34px;
            padding-left: 0;
        }
        .shops-header {
            margin-bottom: 29px;
        }
        .shop-title {
            font-size: 17px;
        }
        .shop-header-title {
            font-size: 16px;
        }
        .shop-header-title::after {
            content: "";
            display: block;
            margin: auto;
            background: #b59f5b;
            width: 22%;
            height: 3px;
            margin-top: 8px;
        }
        .container-shop {
            margin-top: -36px;
            margin-bottom: 26px;
        }
        .shop-one-picture {
            display: flex;
        }
        .shop__prices {
            padding-bottom: 26px;
            padding-left: 20px;
        }
        .shop__price {
            display: flex;
            flex-direction: column;
        }
        .shop__price-value {
            font-size: 20px;
            font-family: OpenSans-bold;
        }
        .shop__price-value-old {
            font-size: 14px;
            font-family: OpenSans-bold;
            text-decoration: line-through;
        }
        .link-for-video {
            color: #b59f5b;
            text-decoration: none;
        }
        .shop__button {
            width: 42%;
            margin-top: 26px;
            margin-right: 26px;
            margin-bottom: 26px;
        }
    }
    
    @media (max-width: 640px) and (orientation: landscape) {
        .trend {
            height: 230px;
            width: calc(50% - 4px);
            margin-right: 4px;
            margin-bottom: 3px;
            position: relative;
            z-index: 0;
        }
        .menu-header {
            border: 3px solid #b59f5b;
            min-height: 130px;
            max-width: 332px;
            margin: 90px 8px 0px 8px;
        }
    }